<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BCEF6D31BC07CCF00E52A05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BCEF6EF1BC07CCF00E52A05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BCEF6FA1BC07CCF00E52A05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
